%h1 Paste Ahoy!
%p Paste your content into the box below and hit the "Paste it" button
%form{id: 'paste_form', action: '/store', method: 'post'}
  %textarea{name:"pasted_content", cols:'140', rows:'15'}
  %br
  %input{id: 'paste_button', type:'submit', value:'Paste it!'}
