%html
  %head
    %title PasteBit
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}

    %link{"rel" => "stylesheet", "href" => "css/bootstrap.min.css", "type" => "text/css"}
    %style body { padding-top: 60px; }
    %link{"rel" => "stylesheet", "href" => "css/bootstrap-responsive.min.css", "type" => "text/css"}
  %body
    %div{class: "navbar navbar-inverse navbar-fixed-top"}
      %div{class: "navbar-inner"}
        %div{class: "container"}
          %a{class: "brand", href: "/"} PasteBit
          %p{class: "navbar-text"} A dumb place to stash a few bits
    -if flash[:error]
      %div{class: "container alert alert-error"}= flash[:error]
    -if flash[:info]
      %div{class: "container alert alert-message"}= flash[:info]
    %div{class: 'container'}
      %div= yield
