%html
  %head
    %title PasteBit
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %link{"rel" => "stylesheet", "href" => "css/bootstrap.min.css", "type" => "text/css"}
  %body
    %h1 PasteBit
    %div= yield
